<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>
</head>
<body>
<header>
    <h1 th:text="${song.title}"></h1>
</header>
<section>
    <h2>Genre: <span th:text="${song.genre}"></span></h2>
    <h2>Year: <span th:text="${song.releaseYear}"></span></h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${song.performers}" th:text="${artist.firstName + ' ' + artist.lastName}"></li>
    </ul>
    <div th:if="${song.album}!=null">
        <h2>Album:</h2>
        <ul>
            <li  th:text="${song.album.name}"></li>
            <li  th:text="${song.album.genre}"></li>
            <li  th:text="${song.album.releaseYear}"></li>
        </ul>
    </div>

    <div >
        <h2>Komentari:</h2>
        <p th:each="com : ${koment}" th:text="${com.comment}"></p>
    </div>

    <form th:block sec:authorize="hasRole('ADMIN') or hasRole('USER')" action="/addcomment" method="post">

        <label>Stavi Komentar</label>

        <input type="text" name="text">

        <input type="submit" value="Prati">
    </form>

    <footer>
        <a href="/listSongs"><button >Vrati se</button></a>
        <p>Pristapeno :
            <span th:text="${bro}"></span>
        </p>
    </footer>
</section>
</body>
</html>
